* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background-image: url(images/plant1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  margin: 12.5%;
  color: hsl(159, 88%, 46%);
}
input {
  margin-left: 100%;
  top: 10px;
  position: absolute;
  padding: 5px;
  border-radius: 16px;
  border: 2px solid #a65e0b ;
  background-color: #fff;
  font-size: 20px;
}
a {
  color:white;
  font-family: Arial;
  text-decoration: none;
  font-size: large;
  margin: 40px;
  top: 10px;
}
.flex {
  display: flex;
  top: 10px;
  position: absolute;
  border-radius: 14px;
  background-color: #a65e0b;
}
.menu {
  padding-left: 20px;
  margin-top: 1.9%;
  font-size: 10px;
  font-weight: bold;
}
.wellcome{
 margin-top: 200px;
 text-align: center;
 color: black;

}
#mulk{
  background-color: #a65e0b;
  margin-top: -150px;
  position: absolute;
  text-align: center;
}
option{
  color: black;
  background-color: rgb(207, 94, 13);
}